---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
const { title = "Silver HH" } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <Nav />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>
